@import '../Base/all';

.header {
    .container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 24em 0;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        //position: fixed;
        //z-index: 10;
    }

    img {
        width: 120em;
    }
}

.hamburgerIcon {
    height: 21px;
    width: 29px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.hamburgerIcon:hover {
    cursor: pointer;
}

.hamburgerIcon div {
    height: 3px;
    width: 100%;
    background: #3583d8;
}

.menu {
    width: 100%;
    z-index: 10;
    position: fixed;
    left: -90vw;
    right: 0;
    background-color: $light-color;
    transition: left 350ms ease-out;

    .content {
        height: 100vh;
        //left: 100vh;
        background-color: $light-color;
        display: grid;
        grid-template-columns: 25% 75%;
        position: relative;

        .sidebar-img {
            background-image: url('../../Images/design.png');
            background-size: cover;
            background-repeat: no-repeat;
            @media #{$mq-mobile} {
                display: none;
            }
        }
        .links {
            height: max-content;
            margin-left: 100em;
            align-self: center;

            @media #{$mq-mobile} {
                margin-left: 50em;
            }

                a {
                    font-size: 56em;
                    font-weight: 800;
                    color: $primary-color;
                }
            }
        .closeButton {
            position: absolute;
            top: 10em;
            right: 4%;
            height: 21em;
            width: 48em;
            margin-top: 30em;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            padding: 18em 0 23em;

            div {
                height: 5em;
                width: 100%;
                background: #3583d8;
                position: absolute;

            }
            div:nth-child(1) {
                transform: rotate(45deg);
            }
            div:nth-child(2) {
                transform: rotate(-45deg);
            }
        }
        .closeButton:hover {
            cursor: pointer;
        }

        }
    }