.button1 {
    padding: 11px 36px;
    border-radius: 30px;
    background: none;
    font-weight: 500;
    font-size: 26px;
    letter-spacing: 4px;
}
.container {
    max-width: 1440px;
    width: 100%;
    margin: auto;
}
.container-l {
    max-width: 1920px;
    width: 100%;
    margin: auto;
}
.flex {
    display: flex;
}